In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load time series of cumulative case data for MPX from global.health
ts_df = pd.read_csv(r'https://raw.githubusercontent.com/globaldothealth/monkeypox/main/timeseries-country-confirmed.csv')

In [5]:
ts_df.head()

         Date  Cases  Cumulative_cases    Country
0  2022-05-27      2                 2  Argentina
1  2022-05-28      0                 2  Argentina
2  2022-05-29      0                 2  Argentina
3  2022-05-30      0                 2  Argentina
4  2022-05-31      0                 2  Argentina

In [3]:
table = ts_df.pivot_table(values='Cases',index=['Country'],aggfunc='sum',margins=True)

In [4]:
pd.options.display.max_rows = 999 
table

                                  Cases
Country
Argentina                            12
Australia                            33
Austria                              83
Belgium                             224
Benin                                 3
Bosnia And Herzegovina                1
Brazil                              310
Bulgaria                              3
Cameroon                              3
Canada                              478
Central African Republic              8
Chile                                16
Colombia                              7
Croatia                               3
Czech Republic                       12
Democratic Republic Of The Congo    107
Denmark                              37
Dominican Republic                    1
Ecuador                               1
Estonia                               1
Finland                              13
France                              908
Georgia                               1
Germany                            1859
Ghana                                18
Gibraltar                             1
Greece                               13
Hungary                              24
Iceland                               6
India                                 1
Ireland                              54
Israel                               88
Italy                               339
Jamaica                               1
Latvia                                2
Lebanon                               1
Luxembourg                            6
Malta                                 9
Mexico                               27
Morocco                               1
Netherlands                         549
New Zealand                           2
Nigeria                              62
Norway                               37
Panama                                1
Peru                                 55
Poland                               22
Portugal                            515
Puerto Rico                           6
Republic of Congo                     2
Romania                              16
Russia                                1
Saudi Arabia                          1
Serbia                                1
Singapore                             6
Slovakia                              1
Slovenia                             19
South Africa                          3
South Korea                           1
Spain                              2835
Sweden                               58
Switzerland                         198
Taiwan                                2
Turkey                                1
United Arab Emirates                 13
United Kingdom                     1856
United States                      1464
Venezuela                             1
All                               12443